.card{
    margin:25%;
    border-style: none;
    border-radius: 5%;
}

h2{
    font-weight: 300;
    font-size: 55px;
    color: grey;
}
.item{
    background: #FAF9F6;
    width:40rem;
    height: 80px;
    width: 500px;
}
.task{
    background: #FAF9F6;
    width:40rem;
    height: 80px;
    width: 500px;
}